/* header */
*{
    padding: 0;
    margin: 0;
    box-sizing: 0px;
}

.container-header .head-left .img-logo{
    width: 120px;
    height: auto;
}
.header{
    background-position: center;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background-repeat:no-repeat ;
    background-image: url(https://tinder.com/static/build/744fe6d80266616aba687006b7d764ad.webp);
}
.container-header .head-left .ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 20px;
}
.ul b{
        margin: 0 10px;
}
.ul a{
    text-decoration: none;
    color: white;
}
.container-header{
    background: linear-gradient(to bottom, rgb(247, 156, 110),rgb(225, 86, 153));
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-left{
    margin-left: 15px;
    font-size: x-large;
    left: 2%;
    color: white;
    display: flex;
    align-items: center;
    
}
.head-right{
    font-size: x-large;
    right: 5%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 450px;
}
.language1{
    
    display: flex;
    justify-content: center;
    align-items: center;
} 
.login1{
    color: whitesmoke;
    border: 1px ridge;
    border-radius: 40px;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(255, 123, 75),rgb(255, 91, 159));
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    font-size: large;
}

.container-top {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 150px 0;
}
.container-top .container-div{
    max-width: 50%;
    
    text-align: center;
    justify-content: center;
}
.container-top .container-div h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    
}

/* footer */
.footer {
    background-color: #f5f5f5;
    padding: 20px 0;
}
.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.footer .footer-links a {
    color: #343434;
    text-decoration: none;
    margin-right: 20px;
}
  
.footer-social a {
    color: #333;
    text-decoration: none;
    margin-left: 10px;
}
  
.footer-social i {
    font-size: 24px;
}
  
.footer-social a:first-child {
    margin-left: 0;
}
.F1-end{
    display: flex;
    justify-content: end;
    margin-right: 10%;
}  
.container-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 37px;
    padding: 30px 0;
}
.container-left{
    width: 400px;
    
}
.container-left .div{
    width: 400px;
    margin: 2px 10px;
}
.container-left img{
    width: 400px;
}
.container-left p{
  color: #575757;
}
.container-right{
    width: 400px;
    
}
.container-right .div{
    width: 400px;
    margin: 20px 10px;
}
.container-right img{
    width: 400px;
}
.container-right p{
  color: #575757;
}

@media (max-width: 400px){
    .ul a{
        display: none;
    }
    .head-right .language1 {
        display: none;
    }
    
    .head-right .login1 {
        display: none;
    }
    .welcom b{
        font-size: 25px;
        color: rgba(255, 91, 159, 0.929);
        display: flex;
        justify-content: s;  
        align-items: center; 
    }
    .sign-login{
        display: flex;
        flex-direction: column;
        justify-content:center; 
        padding-left: 30%;
    }
    .footer-links a {
        color: #333;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
      }   
}